/* background for login page */

html{
    font-family: Calibri;
}

.bg_login{
    max-width: 100%;
    height: 900px;
    background-image: url("../../resources/images/login2.jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
}
h1 {
    color: blue;
    background-color: white;
}

h3 {
    color: blue;
}

p {
    color: blue;
    background-color: white;
}

.loginbox {
    background-color: darkgray;
    padding: 20px;
    border: 2px black;

}
/*Nav Bar styling for Register.php */
nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #232323;
}

nav>ul>li{
    float: left;

}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

#login
{
    float: right;
}

#required
{
    color: red;
}

/* cut from Jacobs index.html */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

/* end of Jacob's index.html   */

/* Register Form Styling */
.form-row {
    margin-bottom: 15px;
}